.output{
    background-color: rgb(170, 24, 24);
    font-size: 25px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    border-radius: 20px;
    color: #ffffff;
}
.pad_l{
    padding-left: 40px;
}
.color-text{
    color:#ffffff;
    font-weight:500;
}
.clnline{
    text-decoration: none;
}